
body{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}
/*navbar*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: #464646;
    height: 60px;
    top: 0px;
    background: rgba(41,41,41,1);
    background: -moz-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(125,106,79,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,41,41,1)), color-stop(100%, rgba(125,106,79,1)));
    background: -webkit-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(125,106,79,1) 100%);
    background: -o-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(125,106,79,1) 100%);
    background: -ms-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(125,106,79,1) 100%);
    background: linear-gradient(to right, rgba(41,41,41,1) 0%, rgba(125,106,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#7d6a4f', GradientType=1 );
}
/*brand*/
.brand-logo{
    position: absolute;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    left: 1.4rem;
    top: 1rem;
}
/*primary container 1*/
.cl-container{
    max-width:400px;
    width: auto;
    text-align: center;
    padding: 0px;
    border: 1px solid #ddd;
    margin: 100px auto;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(207,207,207,0.3);
    -moz-box-shadow: 2px 2px 4px 0px rgba(207,207,207,0.3);
    box-shadow: 2px 2px 4px 0px rgba(207,207,207,0.3);
}
/*primary container 2*/
.cl-container-2{
    max-width:600px;
    width: auto;
    text-align: center;
    padding: 0px;
    margin: 100px auto;
    border-radius: 4px;
}
.cl-h4{
    font-size: 1.2rem;
    color: #545454;
    padding: 14px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
    background-color: #f5f5db;
    border-bottom: 1px solid #ddd;
}
.right{
    float: right;
    margin-right: 1.4rem;
    margin-top: 1rem;
}
/*form styles start*/
.input-group{
    position: relative;
    margin: 20px;
}
.cl-label{
    float: left;
    margin-left: 0px;
    font-size: 13px;
    color: #525252;
}
.cl-input{
    width: 100%;
    padding: 14px 0px;
    border: 0px;
    border-bottom: 2px solid #ffa73a;
    font-size: 18px;
    outline: 0px;
    color: #575757;
}
.cl-cta-btn{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    outline: 0px;
    border: 0px;
    padding: 8px 24px;
    background-color: #ffa73a;
    color: #fff;
    cursor: pointer;
}
input::placeholder {
    color: #aaaaaa;
}
/*form styles end*/
/*navbar menu*/
#nav-menu li{display: inline-block;}
#nav-menu li a{color: #fff;text-decoration: none;font-size: 1.1rem;}
/*login btn*/
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  margin: 7px 0px 14px 0px;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

